# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = indeed_scrapy.settings

[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = 9e56e79f3fa14e4286cc6c7a820b6175
password =
project = 13687