# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = indeed_scrapy.settings

[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = 55642d2eb0d8445e83b8746e26390633
password =
project = 13014